{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoes Website</title>
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="{% url 'home' %}"><img src="{% static 'web/images/logo.png' %}" width="125px"></a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="{% url 'products' %}" class="btn">Men</a></li>
                        <li><a href="{% url 'products' %}" class="btn">Women</a></li>
                        <li><a href="{% url 'products' %}" class="btn">Kids</a></li>
                        <li><a  class="btn">About Us</a></li>
                    </ul>
                </nav>
                <form class="search-bar" method="get" action="{% url 'search_products' %}">
                    <input type="text" name="q" placeholder="Search for products..." value="{{ search_query|default:'' }}">
                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                </form>
                <a href="{% url 'cart' %}"><img src="{% static 'web/images/cart.png' %}" width="30px" height="30px"></a>
                <img src="{% static 'web/images/menu.png' %}" class="menu-icon" onClick="menutoggle()" >
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Work like Ronaldo <br>To be the BOAT!</h1>
                    <p>Ronaldo has bought here. How about you?</p>
                    <a href="{% url 'products' %}" class="btn">Explore Now &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="{% static 'web/images/ronaldo_sáu_múi-removebg-preview.png' %}">
                </div>
            </div>
        </div>
    </div>
    
    <!-- Featured Products -->
    <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
            {% for shoe in featured_products %}
            <div class="col-4">
                <a href="{% url 'shoe_detail' sku=shoe.sku %}">
                    <img src="{{ shoe.get_image }}" alt="{{ shoe.shoe_name }}">
                </a>
                <a href="{% url 'shoe_detail' sku=shoe.sku %}"><h4>{{ shoe.shoe_name }}</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>${{ shoe.original_price }}</p>
            </div>
            {% empty %}
            <p>No featured products available.</p>
            {% endfor %}
        </div>

        <h2 class="title">Latest Products</h2>
        <div class="row">
            {% for shoe in latest_products %}
            <div class="col-4">
                <a href="{% url 'shoe_detail' sku=shoe.sku %}">
                    <img src="{{ shoe.get_image }}" alt="{{ shoe.shoe_name }}">
                </a>
                <a href="{% url 'shoe_detail' sku=shoe.sku %}"><h4>{{ shoe.shoe_name }}</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>${{ shoe.original_price }}</p>
            </div>
            {% empty %}
            <p>No latest products available.</p>
            {% endfor %}
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
      <div class="container">
        <div class="footer-row">
          <img src="{% static 'web/images/logo.png' %}" alt="Logo" class="footer-logo">
          <ul class="footer-social">
            <a href="https://www.facebook.com/"><li><strong>Facebook</strong></li></a>
            <a href="https://www.instagram.com/"><li><strong>Instagram</strong></li></a>
            <a href="https://x.com/"><li><strong>X</strong></li></a>
            <a href="https://www.youtube.com/"><li><strong>Youtube</strong></li></a>  
          </ul>
        </div>
        <hr><p class="copyright">Capstone Project Intro to Software - IT3180E</p>
      </div>
    </div>

    <!-- JS for toggle menu -->
    <script>
        var menuItems = document.getElementById("MenuItems");
        menuItems.style.maxHeight = "0px";
        function menutoggle(){
            if(menuItems.style.maxHeight == "0px"){
                menuItems.style.maxHeight = "200px";
            }
            else{
                menuItems.style.maxHeight = "0px";
            }
        }
    </script>
</body>
</html>